* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pt serit, serif;
}

body {
    background-color: #f8f6f0;
    color: #000000;
    padding: 30px;
    line-height: 1.6;

}

.container {
    display: flex;
    gap: 50px;
    padding: 20px;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;

}

.container::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #999999;
}

.coluna-esquerda {
    flex: 1;
    padding-top: 38px;
}

.coluna-esquerda h1 {
    font-size: 84px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -2px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 45px rgba(255, 255, 255, 0.3);
}

.coluna-direita {
    flex: 1;
    padding-top: 27px;
}

.coluna-direita h3 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
}

.coluna-direita ul {
    list-style-position: inside;
    font-size: 25px;
}

.coluna-direita li {
    margin-bottom: 1px solid #ccc;
    padding: 8px 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
/* Botão Estilo WhatsApp */
.botao-whatsapp {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366; /* Verde oficial do WhatsApp */
    color: #FFFFFF;
    text-decoration: none;
    padding: 14px 28px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: 'PT Serif', serif;
}

/* Espaçamento do ícone */
.botao-whatsapp i {
    margin-right: 10px;
    font-size: 22px;
}

/* Efeito ao passar o mouse por cima */
.botao-whatsapp:hover {
    background-color: #20ba5a; /* Verde um pouco mais escuro */
    transform: translateY(-2px); /* O botão sobe de leve */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* A sombra aumenta */
}

/* Efeito ao clicar */
.botao-whatsapp:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width:800px) {
    .container {
        flex-direction: column;
        gap: 40px;
    }
    .container::before {
        display: none;
    }
    .coluna-esquerda h1{
        font-size: 48px;
    }
    .coluna-direita h3{
         font-size: 24px;
    }
    .coluna-direita ul {
         font-size: 20px;
    }
}